.p_container{
    display: grid;
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}

.p_container.imgs-charge {
    opacity: 1;
}
.p_container.item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.333333% - 20px);
}

.p_container.item-content {
    position: relative;
}

.p_container.item img {
    width: 100%;
    cursor: pointer;
    vertical-align: top;
}